/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  width: 100%;
  color: #222222;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding: 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: calc(50% - 22px);
  max-width: 200px;
}

.filter-options select:focus {
  outline: 3px solid red;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  max-width: 1000px;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-padding-start: 0px;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  min-height: 380px;
  text-align: left;
  max-width: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

#restaurants-list figure {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h2 {
  color: #a55900;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #e08a1e;
  border-bottom: 3px solid #eee;
  color: #480f0f;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list figure {
  max-width: 100%;
}

#restaurants-list figure picture {
  width: 100%;
  max-width: 100%;
}
